.container {
    background-image: url("/bg.jpeg");
    background-size: cover;
    height: 100%;
    /* width: 100%; */
    margin: 0;



    padding: 20px;
    border-radius: 2.2rem;
}

.games_header{
    font-size: 30px;
    font-family: 'Pixeboy';
    font-weight: 400;
    margin: 20px 0;
    text-align: center;
}

.games {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-height: 500px;
    overflow-x: auto;
}

@media (max-width: 768px) {
    .games {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .games {
        grid-template-columns: repeat(3, 1fr);
    }
}

.cardContainer {
    background-color: #dc465fab;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Pixeboy", sans-serif;
    border: 1px solid white;
    transition: all 0.3s;
    position: relative;
}



.cardContainer::after {
    content: "• LIVE";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 10px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 60px;
    height: 20px;
    border-radius: 20px;
    background-color: red;
    font-family: "Arial", sans-serif;
    animation: infinite 1s live;
}

@keyframes live {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.cardContainer:hover {
    background-color: #dc465f;
}

.players {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.player img {
    border: 1px solid white;
    border-radius: 50%;
    padding: 4px;
}

.vs {
    font-size: 30px;
    color: white;
}

.score {
    font-size: 20px;
}

.gameBtns {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}

.gameBtns button{
    background-color: #690759;
    color: white;
    padding: 30px 30px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Pixeboy';
    font-size: 30px;
    transition: all .3s;
    font-weight: 500;
    width: 200px;
}

.gameBtns button:hover{
    background-color: #500243;
}