.history {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-right: 1rem;
}

.history::-webkit-scrollbar {
  width: 6px;
}

.history::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 1rem;
}

.history_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem;
  border-top: 0.5px solid rgba(255, 255, 255, 0.07);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.07);
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 1.2px;
}

.history_avatar {
  position: relative;
}

.history_numberGame {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  bottom: 4%;
  right: -0.6rem;
  background-color: #fff;
  border-radius: 50%;
  font-family: "Pixeboy";
  font-weight: bold;
}

.history_avatar img {
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
}

.history_achievements {
  width: 15rem;
}

.history_score_points {
  width: 16rem;
  font-family: "Phosphate";
}

.history_victory_defeat_box {
  font-size: 3rem;
  width: 15rem;
  font-family: "Pixeboy";
}

.victory_defeat_box {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.6rem;
}

.history_gameMode_time {
  text-align: right;
  width: 26rem;
  font-family: "Phosphate";
}
