.history {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: #d9d9d9 #d9d9d9;
  scrollbar-width: thin;
  padding-right: 1rem;
  padding-top: 1.2rem;
  font-size: 2rem;
}

.history::-webkit-scrollbar {
  width: 8px;
}

.history::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.history_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem;
  border-top: 0.5px solid rgba(255, 255, 255, 0.07);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.07);
  font-size: inherit;
  text-align: center;
  letter-spacing: 1.2px;
}

.history_avatar {
  position: relative;
}

.history_numberGame {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  bottom: 4%;
  right: -0.6rem;
  background-color: #fff;
  border-radius: 50%;
  font-family: "Pixeboy";
  font-weight: bold;
}

.history_avatar img {
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
}

.history_achievements {
  width: 16rem;
}

.history_userName {
  width: 16rem;
  font-family: "Phosphate";
}

.history_score_points {
  width: 16rem;
  font-family: "Phosphate";
}

.history_victory_defeat_box {
  font-size: 3rem;
  width: 16rem;
  font-family: "Pixeboy";
}

.victory_defeat_box {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.6rem;
}

.history_gameMode_time {
  text-align: right;
  width: 16rem;
  font-family: "Phosphate";
}

/* media q--------------------- */

@media (max-width: 1280px) {
  .history_box {
    /* padding: 1.2rem 0; */
    font-size: 1.5rem;
  }

  .history_achievements {
    width: 12rem;
  }

  .history_userName {
    width: 12rem;
  }

  .history_score_points {
    width: 12rem;
  }

  .history_victory_defeat_box {
    width: 12rem;
    font-size: 2.4rem;
  }

  .history_gameMode_time {
    width: 12rem;
  }
}