.container {
  height: 100vh;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcom {
  font-family: "Inter", sans-serif;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.pongify {
  margin-bottom: 8rem;
  font-family: Pixeboy;
  font-size: 16rem;
}

.loginBtn {
  position: relative;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 1.6rem;
  color: inherit;
  background-color: #dc465e;
  width: 38rem;
  height: 7.2rem;
  font-size: 2.2rem;
  font-weight: bold;
  cursor: pointer;
  padding-right: 7.2rem;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.loginBtn:hover {
  background-color: #da3e58;
}

.loginBtn:active {
  transform: translateY(1.5px);
}

.loginBtn::after {
  content: url(../public/42.svg);
  position: absolute;
  top: 55%;
  right: 30%;
  transform: translate(50%, -50%);
}
