/* PROFILE DETAILS --------------------- */

.details_up {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 18rem;
}

.details_level {
  font-family: "Phosphate";
  font-size: 2.4rem;
  text-align: left;
  display: flex;
  gap: 2rem;
}

.details_avatar {
  font-size: 2.4rem;
  font-family: "Phosphate";
  text-align: center;
  transform: translate(0, calc(-50% - 1.2rem));
}

.profile_box {
  display: flex;
  justify-content: center;
}

.profile_box:hover .profile_slide {
  opacity: 1;
}

.details_avatar input,
.profile_slide {
  position: absolute;
  width: 16.6rem;
  height: 16.6rem;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
}

.profile_slide {
  font-family: "inter";
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.details_avatar img {
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 1.2rem;
  width: 16.6rem;
}

.details_medals {
  text-align: right;
}

.details_info {
  text-align: center;
}

.details_form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.details_form input {
  width: 26rem;
  height: 3.6rem;
  border-radius: 1rem;
  border: none;
  background-color: #d9d9d9;
  outline: none;
  font-size: 1.8rem;
  padding: 1rem;
  font-family: "Pixeboy";
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  color: #333;
}

.details_form label {
  font-family: "Pixeboy";
  font-size: 1.6rem;
  display: block;
  text-align: left;
  margin-bottom: 0.8rem;
}

.save_box .save_btn {
  background-color: #dc465e;
  padding: 1rem 4.4rem;
  position: absolute;
  bottom: 2.6rem;
  right: 2.6rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.save_box .save_btn:hover {
  background-color: #da3e58;
}

.details_two_factor_aut {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.6rem;
  text-align: center;
}

.two_factor_title {
  font-family: "Pixeboy";
  font-size: 2.2rem;
}

.two_factor_text {
  width: 52rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

/* Swich Botton ---------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  inset: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #783483;
}

input:focus + .slider {
  box-shadow: 0 0 1px #783483;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
