.statistics_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem;
  padding-bottom: 0;
}

.part_one {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 2rem;
}

.right {
  font-size: 3.4rem;
  font-family: "Pixeboy";
  text-align: center;
}

.level_line {
  width: 26rem;
  height: 1.2rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  margin-bottom: 0.6rem;
  position: relative;
}

.level_line_one_one::after,
.level_line_one_two::after,
.level_line_one_tree::after,
.level_line_one::after,
.level_line_two::after,
.level_line_tree::after,
.level_line_four::after,
.level_line_five::after,
.level_line_six::after,
.level_line_seven::after,
.level_line_eight::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #dc465e;
  height: 1.2rem;
  border-radius: 1rem;
}

.level_line_one_one::after {
  width: 1rem;
}
.level_line_one_two::after {
  width: 2rem;
}
.level_line_one_tree::after {
  width: 3rem;
}
.level_line_one::after {
  width: 4rem;
}

.level_line_two::after {
  width: 8rem;
}

.level_line_tree::after {
  width: 12rem;
}

.level_line_four::after {
  width: 15rem;
}

.level_line_five::after {
  width: 18rem;
}

.level_line_six::after {
  width: 21rem;
}

.level_line_seven::after {
  width: 24rem;
}

.level_line_eight::after {
  width: 26rem;
}

.level_number_box {
  display: flex;
  justify-content: right;
  font-size: 2rem;
  letter-spacing: 1px;
  font-family: "Phosphate";
  color: rgba(255, 255, 255, 0.9);
}

.level_number_box span {
  color: #fff;
  font-size: 2.6rem;
}

.defeat_text {
  color: rgb(234, 67, 53);
}

.victory_text {
  color: rgb(59, 166, 88);
}

.def_vic_box {
  display: flex;
  border-top: 1px solid #fff;
  gap: 3rem;
  padding: 0.6rem 3.8rem;
  justify-content: center;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.avatar img {
  border-radius: 50%;
}

.user_name {
  font-family: "Phosphate";
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.part_two {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; */
  padding: 6rem 0;
  margin-top: 4rem;
  gap: 8rem;
}

.ach_text {
  font-family: "Pixeboy";
  font-size: 3.6rem;
}

.ach_medal {
  display: flex;
  gap: 8rem;
}

.ach_goal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #fff;
  font-family: "Pixeboy";
  border-radius: 2rem;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  transform: scale(1.1);
  padding: 0.8rem;
}

.ach_medal_box {
  position: relative;
  transition: all 1s;
}

.non_medal {
  opacity: 0.2;
  pointer-events: none;
}

.medal .ach_goal {
  opacity: 0;
}

.medal.ach_medal_box:hover {
  transform: translateY(-0.6rem);
}

.medal.ach_medal_box:hover .ach_goal {
  opacity: 1;
}

.medal.ach_medal_box:hover img {
  opacity: 0.4;
}

/* .ach_medal div:not(:last-child) {
  margin-right: -12rem;
} */

/* media q--------------------- */

@media (max-width: 1280px) {
  .statistics_box {
    display: flex;
    flex-direction: row;
  }

  .part_one {
    /* width: 50%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 20rem;
    border-right: 2px solid rgba(255, 255, 255, 0.25);
    padding-right: 2rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }

  .part_two {
    justify-content: stretch;
    padding: 0;
    padding-left: 2.8rem;
    gap: 4rem;
  }

  .ach_medal {
    flex-direction: column;
    gap: 4rem;
    scrollbar-color: #d9d9d9 #d9d9d9;
    scrollbar-width: thin;
    padding: 1.6rem;
    margin: auto;
  }

  .ach_goal {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .ach_medal_box {
    width: 12rem;
    height: 12rem;
  }
}