.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 18rem 3.2rem;
}

.profile_setting,
.profile_details {
  height: 75rem;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 2.6rem;
  backdrop-filter: blur(2.6rem);
}

.profile_setting {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.2rem;
  padding: 0 4.2rem;
}

.profile_details {
  position: relative;
  width: 120rem;
  padding: 3.8rem;
  color: #fff;
}

.logout_btn {
  z-index: 1;
  position: absolute;
  top: -17rem;
  right: 0;
  padding: 1.2rem 3.6rem !important;
}

/* media q--------------------- */

@media (max-width: 1000px) {
  .profile_setting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: none;
    backdrop-filter: blur(0);
    position: fixed;
  }
}
