.container {
  height: 100vh;
  display: flex;
  gap: 10rem;
  padding: 18rem;
}

.profile_setting,
.profile_details {
  height: 75rem;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 2.6rem;
  backdrop-filter: blur(2.6rem);
}

.profile_setting {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.2rem;
}

.profile_details {
  width: 100%;
  padding: 3.8rem;
  color: #fff;
}
