.conversation_head_treepoints {
  cursor: pointer;
  position: absolute;
  top: -32%;
  right: 2%;
  font-size: 4rem;
  color: #fff;
  transition: all 0.3s;
}

.conversation_head_treepoints:active {
  transform: translateY(1.2px);
}

.treepoints_box {
  width: 26rem;
  height: 100%;
  background-color: #16213e;
  padding: 1.2rem;
  padding-top: 8rem;
  font-family: "Pixeboy";
  font-size: 1.6rem;
  border-radius: 1rem;
  z-index: 1;
  overflow-y: scroll;
}

.treepoints_box::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
.treepoints_box::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
  display: none;
}

.treepoints_box_details {
  width: 26rem;
  height: 100%;
  background-color: #16213e;
  padding: 1.2rem;
  padding-top: 6.8rem;
  font-family: "Pixeboy";
  font-size: 1.6rem;
  border-radius: 1rem;
  z-index: 1;
}

.treepoints_box_conv {
  width: 26rem;
  height: 100%;
  background-color: #16213e;
  padding: 1.2rem;
  padding-top: 2rem;
  font-family: "Pixeboy";
  font-size: 1.6rem;
  border-radius: 1rem;
  z-index: 1;
}

.treepoints_box_row,
.treepoints_box_row_users {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0.8rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 1rem;
}

.treepoints_box_row_users {
  margin-bottom: 1.2rem;
}

.treepoints_box_row:active {
  transform: translateY(1.6px);
}

.treepoints_box_row:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.treepoints_owner {
  font-family: "Inter";
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 1.2rem;
  letter-spacing: 1.2px;
  padding: 0.6rem 0;
}

.treePoints_box_avatar {
  width: 3.6rem;
  height: 3.6rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

.treePoints_box_avatar img {
  border-radius: 50%;
}

.treepoints_box_group {
  position: absolute;
  right: -20%;
}

.treepoints_settings {
  cursor: pointer;
  transition: all 0.3s;
}

.treepoints_settings:active {
  transform: translateY(1.6px);
}

/* media q--------------------- */

@media (max-width: 1280px) {
  .treepoints_box,
  .treepoints_box_details {
    height: 93%;
  }
}
